@import 'tailwindcss';

@theme {
  --color-bg: #0b0f14;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-black text-white antialiased select-none overflow-y-scroll;
}

/* Print blocking */
@media print {
  body { display: none !important; }
}

